<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Inventory</title>
</head>
<body>
    <nav>
        <div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'inventory' %}">Inventory</a>
        </div>
    </nav>

    <main>
        <h1>Computer Inventory</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Computer Name</th>
                <th>Serial Number</th>
                <th>Brand</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers %}
                <tr>
                    <td>{{ computer.name }}</td>
                    <td>{{ computer.serial_number }}</td>
                    <td>{{ computer.brand }}</td>
                    <td>{{ computer.model }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
</body>
</html>